.nav{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 640px;
}

.nav{
  display: flex;
  height: 60px;
}

.nav li{
  width: 20%;
  height: 60px;
}

.nav li:nth-child(1){
  background-color: antiquewhite;
}

.nav li:nth-child(2){
  background-color: lightblue;
}

.nav li:nth-child(3){
  background-color: lightcoral;
}

.nav li:nth-child(4){
  background-color: lightgoldenrodyellow;
}

.nav li:nth-child(5){
  background-color: lightgrey;
}
